<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>VercelStatus</string>
	<key>CFBundleIconFile</key>
	<string>toast</string>
	<key>CFBundleIconName</key>
	<string>toast</string>
	<key>CFBundleIdentifier</key>
	<string>com.vercelstatus.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Vercel Status</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://toast.asit.space/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>/NJC3Hywm9QCBdL/t+IJefLM4M/keWe60DleHdHk6vU=</string>
</dict>
</plist>
